@model Service
@{
    ViewData["Title"] = "CreateServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hizmet Ekleme Sayfası</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>

