@model Testimonial
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Referans Güncelleme Sayfası</h2>

<form method="post">
    <input type="hidden" asp-for="TestimonialId" />
    <label>Başlık</label>
    <input type="text" class="form-control" asp-for="NameSurname" style="border:1px solid gray;" />
    <br />
    <label>Alt Başlık</label>
    <input type="text" class="form-control" asp-for="Title" style="border:1px solid gray;" />
    <br />
    <label>Tarih</label>
    <input type="text" class="form-control" asp-for="CommentDetail" style="border:1px solid gray;" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" asp-for="ImageUrl" style="border:1px solid gray;" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

