<nav id="sidebar" ">
	<div class="custom-menu">
		<button type="button" id="sidebarCollapse" class="btn btn-primary">
			<i class="fa fa-bars"></i>
			<span class="sr-only">Toggle Menu</span>
		</button>
	</div>
	<div class="p-4">
		<h1><a href="index.html" class="logo">Admin Paneli</a></h1>
		<ul class="list-unstyled components mb-5">
			<li class="active">
				<a href="/Default/Index/"><span class="fa fa-home mr-3"></span> Siteye Git</a>
			</li>
			<li>
				<a href="/Experience/ExperienceList"><span class="fa fa-user mr-3"></span> Deneyimlerim</a>
			</li>
			<li>
				<a href="/Education/EducationList"><span class="fa fa-briefcase mr-3"></span> Eğitim Hayatım</a>
			</li>
			<li>
				<a href="/About/AboutList"><span class="fa fa-sticky-note mr-3"></span> Hakkımda</a>
			</li>
			<li>
				<a href="/Contact/Index"><span class="fa fa-paper-plane mr-3"></span> İletişim</a>
			</li>
			<li>
				<a href="/Testimonial/TestimonialList"><span class="fa fa-car mr-3"></span> Referanslarım</a>
			</li>
			<li>
				<a href="/Portfolio/PortfolioList"><span class="fa fa-user-circle mr-3"></span> Projelerim</a>
			</li>
			<li>
				<a href="/Skill/SkillList/"><span class="fa fa-anchor mr-3"></span> Yeteneklerim</a>
			</li>
			<li>
				<a href="/Message/MessageList"><span class="fa fa-bicycle mr-3"></span> Gelen Mesajlar</a>
			</li>
			<li>
				<a href="/SocialAccount/SocialAccountList/"><span class="fa fa-bicycle mr-3"></span> Sosyal Medya </a>
			</li>
			<li>
				<a href="/Service/ServicesList/"><span class="fa fa-bicycle mr-3"></span> Hizmetler </a>
			</li>
			<li>
				<a href="/Statistics/Index/"><span class="fa fa-bicycle mr-3"></span> İstatistikler </a>
			</li>
		</ul>

		

		<div class="footer">
			<p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | Yunus Emre Altun  
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>

	</div>
</nav>
