@model PortfolioCore.Entities.Skill

@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenek Güncelleme Sayfası</h2>


<form method="post">
    <input type="hidden" asp-for="SkillId" />
    <label>Yetenek Adı</label>
    <input type="text" class="form-control" asp-for="SkillName" />
    <br />
    <label>Yetenek Değeri</label>
    <input type="number" class="form-control" asp-for="SkillValue" />
    <br />
    <button class="btn btn-primary">  Güncelle</button>
</form>
